@using PagedList.Mvc;
@model PagedList.IPagedList<BuildingDemo.Models.Building>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section id="center" class="center_list clearfix">
    <div class="container">
        <div class="row">
            <div class="center_home_1 clearfix">
                <h1 class="text-center mgt">Find Your RealHome</h1>
                @using (Html.BeginForm("SearchKW", "Search"))
                {
                    <div class="center_home_1i clearfix">
                        <div class="col-sm-4">
                            <div class="center_home_1i1 clearfix">
                                <input placeholder="Tên tòa nhà" class="form-control" type="text" name="keyword">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="center_home_1i1 clearfix">
                                <input placeholder="Giá" class="form-control" type="number" name="price">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="center_home_1i1 clearfix">
                                <select class="form-control" name="BuildingTypeID">
                                    <option>Chọn loại tòa nhà</option>
                                    <option value="1">Apartment</option>
                                    <option value="2">SkysCraper</option>
                                    <option value="3">Office Building</option>
                                    <option value="4">WareHouse</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                    <div class="center_home_1i clearfix">
                        <div class="col-sm-4">
                            <div class="center_home_1i1 clearfix">
                                <input placeholder="Địa chỉ" class="form-control" type="text" name="address">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="center_home_1i1 clearfix">
                                <select class="form-control" name="beds" id="beds">
                                    <option value="">Số phòng ngủ</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="center_home_1i1 clearfix">
                                <select class="form-control" name="baths" id="beds">
                                    <option value="">Số phòng tắm</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="center_home_1i clearfix">
                        <div class="col-sm-4">
                            <div class="center_home_1i1 clearfix">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="center_home_1i1 clearfix">
                            </div>
                        </div>
                        <div class="col-sm-4" style="width:100px">
                            <div class="center_home_1i1 clearfix">
                                <input style="font-size: 16px; width: 360px; " class="button_1 block mgt" type="submit" value="Tìm kiếm"/>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section id="popular">
    <div class="container">
        <div class="row">
            <div class="popular_1 text-center clearfix">
                <div class="col-sm-12">
                    <h1 class="mgt"> Property List</h1>
                    <p>Find new &amp; top rated property for you.</p>
                </div>
            </div>
            <div class="popular_2 clearfix">
                @foreach (var building in Model)
                {
                    <div class="col-sm-4">
                        <div class="popular_2i clearfix">
                            <div class="popular_2i1 clearfix">
                                <a href="@Url.Action("Details", "Property", new { id = building.ID })"><img style="height: 200px; object-fit: contain;" src="@building.Image" class="iw" alt="abc"></a>
                            </div>
                            <div class="popular_2i2 clearfix">
                                <h5 class="mgt"><a href="@Url.Action("Details", "Property", new { id = building.ID })">FOR RENT</a></h5>
                            </div>
                        </div>
                        <div class="popular_2i3 clearfix">
                            <h5 class="mgt"><a href="@Url.Action("Details", "Property", new { id = building.ID })">@building.Name<i class="fa fa-check-square col_1"></i></a></h5>
                            <h4 class="col_1">@building.PurchasePrice<span class="col_2" style="font-size:22px">$</span></h4>
                            <h6><i class="fa fa-hotel col_2"></i> @building.Bed Beds <span><i class="fa fa-home col_2"></i> @building.Bath Bath</span></h6>
                            <h5 class="inline">
                                <a class="button" href="#" onclick="RequestInfo('@building.ID', '@building.Name', '@building.PurchasePrice')">
                                    Request Info
                                </a>
                            </h5>
                            <h5 class="inline"><a class="button_1" href="@Url.Action("Details", "Property", new { id = building.ID })">Property Detail</a></h5>
                        </div>
                    </div>
                    }
            </div>
            <div style="text-align:center; padding-top:20px">
                @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { page = pageNumber }))
            </div>
        </div>
    </div>
</section>

<script>
    var Book = [];
    if (window.localStorage) {
        Book = JSON.parse(window.localStorage.getItem("Book") || []);
    }
    function RequestInfo(id, name, price) {
        var exist = false;
        for (var i = 0; i < Book.length; i++) {
            if (Book[i].ma == id) {
                alert("Ban da dat lich xem toa nha nay roi!");
                exist = true;
                break;
            }
        }
        if (!exist) {
            var building = { ma: id, ten: name, gia: price };
            Book.push(building);
            window.localStorage.setItem("Book", JSON.stringify(Book));
            alert("Them lich xem thanh cong!");
        }
    }

</script>

