@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit Page</h2>

@if (TempData.ContainsKey("SaveSuccess"))
{
    <div class="alert alert-success">
        <div class="d-flex justify-content-start">
            <span class="alert-icon m-r-20 font-size-30">
                <i class="anticon anticon-close-circle"></i>
            </span>
            <div>
                <h5 class="alert-heading">Thao tác thành công</h5>
                <p>@TempData["SaveSuccess"].</p>
            </div>
        </div>
    </div>
}
@if(TempData.ContainsKey("SaveError"))
{
    <div class="alert alert-danger">
        <div class="d-flex justify-content-start">
            <span class="alert-icon m-r-20 font-size-30">
                <i class="anticon anticon-close-circle"></i>
            </span>
            <div>
                <h5 class="alert-heading">Thao tác thất bại</h5>
                <p>@TempData["SaveError"].</p>
            </div>
        </div>
    </div>
}

<form method="post" enctype="multipart/form-data">
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <div class="avatar avatar-image rounded"
                     style="height: 70px; width: 70px">
                    <img src="@Model.Avatar" alt="abc" />
                </div>
                <div class="m-l-15">
                    <h4 class="m-b-0">Khách hàng: @Model.Name</h4>
                    <p class="text-muted m-b-0">Code: @Model.ID</p>
                </div>
            </div>
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active"
                   data-toggle="tab"
                   href="#product-edit-basic">Basic Info</a>
            </li>
            @*<li class="nav-item">
                    <a class="nav-link"
                       data-toggle="tab"
                       href="#product-edit-description">Description</a>
                </li>*@
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Tên người dùng</label>
                        <input type="text"
                               class="form-control"
                               name="Name"
                               id="productName"
                               placeholder="Product Name"
                               value="@Model.Name" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productPrice">Địa chỉ</label>
                        <input type="text"
                               class="form-control"
                               id="productPrice"
                               placeholder="Price"
                               value="@Model.Address"
                               name="Address" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productPrice">Số điện thoại</label>
                        <input type="text"
                               class="form-control"
                               id="productPrice"
                               placeholder="Phone"
                               value="@Model.Phone"
                               name="Phone" />
                    </div>
                    <div class="col-sm-12 mb-2">
                        <p>Hình ảnh:</p>
                        <input name="Avatar" type="file" class="custom-file-input" id="Image" accept="image/*" onchange="previewImage()">
                        <label class="custom-file-label" for="Image">Choose New Avartar</label>
                        <div class="col-sm-12 mb-2">
                            <img id="product-image" src="@Model.Avatar" style="width: 100%;  max-height: 500px; object-fit: contain" />
                        </div>
                    </div>
            </div>
        </div>
        @*<div class="tab-pane fade" id="product-edit-description">
                <div class="card">
                    <div class="card-body">
                        <div id="productDescription">
                            <p>
                                Special cloth alert. The key to more success is to
                                have a lot of pillows. Surround yourself with angels,
                                positive energy, beautiful people, beautiful souls,
                                clean heart, angel. They will try to close the door on
                                you, just open it. A major key, never panic. Don’t
                                panic, when it gets crazy and rough, don’t panic, stay
                                calm. They key is to have every key, the key to open
                                every door.The other day the grass was brown, now it’s
                                green because I ain’t give up. Never surrender. Lion!
                                I’m up to something. Always remember in the jungle
                                there’s a lot of they in there, after you overcome
                                they, you will make it to paradise.
                            </p>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</form>
<script>
    function previewImage() {
        var fileInput = document.getElementById('Image');
        var img = document.getElementById('product-image');

        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                img.src = e.target.result;
            }
            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>