@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section id="center" class="clearfix center_about">
    <div class="container clearfix">
        <div class="row">
            <div class="center_about_1 text-center clearfix">
                <div class="col-sm-12">
                    <h1 class="mgt">Welcome, @Session["Username"]</h1>
                    <p>Your Information in here</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container clearfix">
        <div class="row">
            <div class="contact_1 clearfix">
                <div class="col-sm-5">
                    <div class="contact_1r clearfix">
                        <h3 class="mgt">@Session["Username"]</h3>
                        <div class="mission_1ri clearfix">
                            <div class="col-sm-1 space_all">
                                <span><i class="fa fa-envelope col_1"></i></span>
                            </div>
                            <div class="col-sm-11">
                                <h5 class="mgt">
                                    Email: @ViewBag.customer.Email
                                </h5>

                            </div>
                        </div>
                        <div class="mission_1ri clearfix">
                            <div class="col-sm-1 space_all">
                                <span><i class="fa fa-phone col_1"></i></span>
                            </div>
                            <div class="col-sm-11">
                                <h5 class="mgt">Phone: @ViewBag.customer.Phone</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <h5>Pending building</h5>
                    <table id="data-table" class="table">
                        <thead>

                            <tr>
                                <th>Tên tòa nhà</th>
                                <th>Địa chỉ</th>
                                <th>Giá bán </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var building in ViewBag.buildings)
                            {
                                <tr>

                                    <td>@building.Name</td>
                                    <td>@building.Address</td>
                                    <td>
                                        @if (building.CustomerID != null)
                                        {
                                            @building.PurchasePrice
                                        }
                                        else
                                        {
                                            <span>Chưa xác định</span>
                                        }
                                    </td>

                                    <td>
                                        <div style=" display: flex; justify-content: space-between; font-size: 20px; color: white; ">
                                            <a href="@Url.Action("Edit", "User", new { id = building.ID })" class="btn btn-warning">
                                                <i class="fa-solid fa-pen-to-square">
                                                </i>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <a data-toggle="modal" data-content="@building.ID" data-target="#exampleModalCenter" class="deleteBtn btn btn-danger">
                                            <i style="color:white" class="fa-sharp fa-solid fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>

                            }


                        </tbody>
                        @*<tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </tfoot>*@

                    </table>
                    @*<div style="text-align:center; padding-top:20px">
                        @html.pagedlistpager(model, page => url.action("index", new { page }))
                    </div>*@
                    <div style=" display: flex; justify-content: space-between; font-size: 20px; color: white; ">
                        <a href="@Url.Action("Create", "Property")" class="btn btn-success"><i class="fa-solid fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
</section>






