
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create Schedule</h2>

@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger">
        <div class="d-flex justify-content-start">
            <span class="alert-icon m-r-20 font-size-30">
                <i class="anticon anticon-close-circle"></i>
            </span>
            <div>
                <h5 class="alert-heading">Thêm thất bại</h5>
                <p>@TempData["ErrorMessage"].</p>
            </div>
        </div>
    </div>
}

<h3>Toàn bộ lịch của tòa nhà: @ViewBag.building.ID - @ViewBag.building.Name</h3>
<div class="card">
    <div class="card-body">
        <h4>Data Table</h4>
        <p>
            DataTables is a plug-in for the jQuery Javascript library. It
            is a highly flexible tool, built upon the foundations of
            progressive enhancement, that adds all of these advanced
            features to any HTML table. Below is an example of zero
            configuration.
        </p>
        <div class="m-t-25">
            <table id="data-table" class="table">
                <thead>

                    <tr>
                        <th>ID</th>
                        <th>Tên Nhân Viên</th>
                        <th>Tên Khách Hàng</th>
                        <th>Số điện thoại khách hàng</th>
                        <th>Ngày Hẹn</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var sche in ViewBag.schedules)
                    {
                    <tr>

                        <td>@sche.ID</td>
                        <td>
                            @if (@sche.Employee == null)
                            {
                                <span>Cần phân công </span>
                            }
                            else
                            {
                                <span>@sche.Employee.Name</span>
                            }
                                            </td>
                        <td>@sche.Customer.Name</td>
                        <td>@sche.Customer.Phone</td>
                        <td>@sche.Time.ToString("yyyy-MM-dd") -
                        @if (sche.Session == true)
                        {
                            <span>Sáng</span>
                        }
                            else {
                            <span>Chiều</span>
                            }
                        </td>
                        <td></td>
                    </tr>

                    }
                    @*@foreach (var building in Model)
        {
            <tr>

                <td>@building.ID</td>
                <td>@building.Name</td>
                <td>
                    @if (building.CustomerID != null)
                    {
                        @building.Customer.Name
                    }
                    else
                    {
                        <span>Hệ thống</span>
                    }
                </td>
                <td>61</td>
                <td>
                    <div style=" display: flex; justify-content: space-between; font-size: 20px; color: white; ">
                        <a href="@Url.Action("Edit", "Building", new { id = building.ID })" class="btn btn-warning">
                            <i class="fa-solid fa-pen-to-square">
                            </i>
                        </a>
                    </div>
                </td>
                <td>
                    <a data-toggle="modal" data-content="@building.ID" data-target="#exampleModalCenter" class="deleteBtn btn btn-danger">
                        <i style="color:white" class="fa-sharp fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>

        }*@


                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot>

            </table>
          
        </div>


    </div>
</div>
@using (Html.BeginForm("Create", "Schedule", FormMethod.Post,
            HtmlHelper.AnonymousObjectToHtmlAttributes(new { enctype = "multipart/form-data" })))
{


    <div class="form-group">
        <label for="input readonlyState">ID Lịch Hẹn</label>
        <select name="ScheduleID" id="input readonlyState" class="form-control">
            <option disabled selected value="0">Chọn lịch Hẹn</option>
            @foreach (var sche in ViewBag.schedules)
            {
                if (sche.Employee == null)
                {
                    <option value="@sche.ID"
                            data-customer-name="@sche.Customer.Name"
                            data-customer-phone="@sche.Customer.Phone"
                            data-customer-time="@sche.Time.ToString("yyyy-MM-dd")">
                        @(sche.ID + "-" + "Ngày: " + sche.Time.ToString("yyyy-MM-dd") + "-")
                        @if (sche.Session == true)
                        {
                            <span>Sáng</span>
                        }
                        else
                        { <span>Chiều</span>
                        }
                    </option>
                }
            }
        </select>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="input readonlyCity">Tên khách hàng</label>
            <input readonly placeholder="ex: Time city."
                   name="Name" type="text" class="form-control" id="input readonlyCity"
                   value="">
        </div>
        <div class="form-group col-md-4">
            <label for="input readonlyZip">Số điện thoại khách hàng</label>
            <input readonly placeholder="ex: 099999999." name="YearBuild" type="number" class="form-control" id="year"
                   value="">
        </div>
        <div class="form-group col-md-4">
            <label for="input readonlyZip">Ngày hẹn</label>
            <input readonly name="NumFloors"
                   value=""
                   placeholder="ex: 2." type="text" class="form-control" id="input readonlyZip">
        </div>
       
    </div>
    <div class="form-group">
        <label for="EmployeeBlock">ID Nhân Viên</label>
        <select name="EmployeeID" id="EmployeeBlock" class="form-control" onchange="updateInputValue()">
            <option value="0" disabled selected>Chọn nhân viên</option>
            @foreach (var employee in ViewBag.employees)
            {
                <option value="@employee.ID"
                        data-employee-name="@employee.Name"
                        data-employee-phone="@employee.Phone">
                    @(employee.ID +"_"+employee.Name)
                </option>
            }
        </select>
    </div>
    <div class="form-group">
        <label class="font-weight-semibold" for="productName">Tên người dùng</label>
        <input type="text"
               readonly
               class="form-control"
               name="Name"
               id="productName"
               placeholder="Tên nhân viên"
               value="" />
    </div>
    <div class="form-group">
        <label class="font-weight-semibold" for="productPhone">Số điện thoại</label>
        <input type="text"
               readonly
               class="form-control"
               id="productPhone"
               placeholder="Số điện thoại"
               value=""
               name="Phone" />
    </div>
    

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Thêm dữ liệu</button>
        </div>
    </div>
}

<script>
    document.querySelectorAll("label").forEach(function (label) {
        label.addEventListener("click", function (event) {
            event.preventDefault();
            // Your code here
        });
    });

    // get references to the select and input elements
    var selectElement = document.getElementById("input readonlyState");
    var nameInput = document.getElementById("input readonlyCity");
    var yearInput = document.getElementById("year");
    var floorsInput = document.getElementsByName("NumFloors")[0];

    // add an event listener to the select element
    selectElement.addEventListener("change", function () {
        // get the selected option
        var selectedOption = selectElement.options[selectElement.selectedIndex];

        // update the value of the name input element
        nameInput.value = selectedOption.dataset.customerName;

        // update the value of the year input element
        yearInput.value = selectedOption.dataset.customerPhone;


        console.log(typeof (selectedOption.dataset.customerTime))
        // update the value of the floors input element
        floorsInput.value = selectedOption.dataset.customerTime;

    });


    function updateInputValue() {
        var selectElement = document.getElementById("EmployeeBlock");
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        let phone = selectedOption.getAttribute("data-employee-phone");
        let name = selectedOption.getAttribute("data-employee-name");
        console.log(name)
        document.getElementById("productName").value = name;
        document.getElementById("productPhone").value = phone;
    }
    $(function () {
        // Initialize the date picker component
        $('.datepicker').datepicker();
    });
</script>
